<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create Snippet</title>
  </head>
  <body>
    <form action="storingSnippet" method="post">
      <input type="text" placeholder="snippet title" name="title">
      <input type="text" placeholder="snippet language" name="language">
      <input type="text" placeholder="tages to identify snippet" name="tags">
      <textarea name="body">Enter your code here</textarea>
      <input type="submit" value="Save your snippet">
    </form>
  </body>
</html>
