<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>FrankBook Login Screen</title>
    <link rel="stylesheet" href="../public/main.css">
  </head>
  <body>
    <h1>Welcome to Code Snippet!</h1>
    <div class="loginScreenButtons">
      <form id="signup" action="/signup/" method="post">
        <input type="submit" id="signupLinkButton" value="sign up">
      </form>
      <form id="login" action="/login/" method="post">
        <input type="submit" id="loginLinkButton" value="login">
      </form>
    </div>
  </body>
</html>
